<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE原理简单实现</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="name">
        <h3 v-bind="name"></h3>
        <input type="text" v-model="testData1">
        <h3>{{ testData1 }}</h3>
        <input type="text" v-model="testData2">
        <h3>{{ testData2 }}</h3>
    </div>

    <script src="./9.js"></script>
    <script>
        // 5、调用方法：
        var app = new myVue({
            el: '#app', // dom
            data: {
                // 数据
                testData1: '仿Vue',
                testData2: '极简双向绑定',
                name: 'OBKoro1'
            }
        });
    </script>
</body>

</html>