<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue双向绑定实现</title>
</head>
<body>

    <div id="mvvm-app">
        <input type="text" v-model="word">
        <p>{{word}}</p>
        <input type="text" v-model="fx.a">
        <p>{{fx.a}}</p>
        <input type="text" v-model="fx.b">
        <p>{{fx.b}}</p>
        <input type="text" v-model="fff.aa">
        <p>{{fff.aa}}</p>
        <p>{{f}}</p>
        <button v-on:click="sayHi">change model</button>
        <p>{{vv}}</p>
    </div>

    <script src="../build.js" async></script>

</body>
</html>